.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 100;
}

.sidebar-container {
    height: 76px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-container:hover {
    background-color: lightgray;
}

.sidebar-icon {
    height: 24px;
    position: absolute;
    top: 20px;
}

.sidebar-text{
    font-family: Roboto, Arial;
    position: absolute;
    font-size: 9px;
    bottom: 12px;
}
